.all{
    width: 300px;
  height: 500px;
  background-color: #4a4a4a;
}

.didyouknow {
    width: 273px;
    height: 30px;
    font-family: RobotoSlab;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #ffffff; 
}

.pinkbox {
  width: 273px;
  height: 66px;
  background-color: #ffb6c1;
}

.devil {
  width: 273px;
  height: 60px;
  font-family: RobotoSlab;
  font-size: 20px;
  font-weight: bold;
  color: #4a4a4a;
}

.story {
  width: 273px;
  height: 250px;
  font-family: RobotoSlab;
  font-size: 18px;
  color: #ffffff;
}